*{
    margin: 0;
    padding: 0;
}

.imagenLogo{
    width: 80px;
    height: 60px;
}

.contenedor1{
    padding: 0 30%;
}


section{
    display: flex;
    text-align: center;
}

.parte1{
    width: 30%;
    padding-top: 40px;
}

.parte2{
    width: 40%;
    padding: 10px 0px;
}

.parte3{
    width: 30%;
    padding-top: 20px;
}

article a{
    text-decoration: none;
}

.imagenFooter{
    width: 100px;
}

.imagenFiscal{
    width: 100px;
}

@media (max-width: 767px) {

    section{
        display: block;
    }

    .parte1{
        width: 100%;
    }

    .parte2{
        width: 100%;
        margin-top: 20px;
    }

    .parte3{
        width: 100%;
        padding-bottom: 20px;
    }
    
}